<div class="modal-title">
    <h4>Change Password</h4>
</div>

<form #mForm="ngForm" (ngSubmit)='enter(mForm)'>
    <label for="newPassword">New Password</label>
    <input name="newPassword" type="password" required ngModel>
    <label for="password">Confirm Pasword</label>
    <input name="password" type="password" required ngModel>

    <button *ngIf="!isWorking" type="submit" class="button secondary" [disabled]="!mForm.valid">Submit</button>
    <span *ngIf="isWorking" class="mdi mdi-spin mdi-loading mdi-24px"></span>   
    <div *ngIf="!isMatch" class="red-text">
        <div class="callout alert" data-closable>
            <small>
                <span>Passwords don't match</span>
            </small>
        </div>
    </div>
    
</form>